<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataCommsDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB; AttachDbFilename=C:\Users\65819\Desktop\2022-2023_S2\IT2666_IOTPRJ\Assignemnt\Software\AdminInterface_SecuritySystem\SecuritySystemAdminView\SecuritySystemAdminView\App Data\Security_System_DB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="SecuritySystemAdminView.Properties.Settings.Security_System_DBConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\App Data\Security_System_DB.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.windows.forms jitDebugging="false"/>
</configuration>
